
$mdc-theme-primary: #311b92; // Deep Purple 900
// $mdc-theme-secondary: #03a9f4; // Light Blue 500
$mdc-theme-secondary: #ff8f00; // Amber 800
$mdc-theme-background: #fff;

//@import '@material/toolbar/mdc-toolbar.scss';
@import 'material-components-web/material-components-web.scss';

.docs-container {
  margin-top: 64px;
  display: flex;
  flex: 1;
  position: relative;
}

.app__content {
  flex: 1 1 auto;
  max-width: 100%;
  transition: margin-left 0.3s, max-width 0.3s;
  will-change: margin-left;
  will-change: max-width;
}

.mdc-toolbar__title a,
.mdc-drawer__drawer a {
    color: inherit;
    text-decoration: none;
}

.mdc-toolbar__section--align-end {
    max-width: 80px;
}

/**
 * Submenu
 */
.submenu__children {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s;
}

.submenu__children--open {
  max-height: initial;
}

.submenu__icon {
  transition: transform 0.3s;
  user-select: none;
}

.submenu__icon--open {
  transform: rotate(90deg);
}

.submenu__children .mdc-list-item {
  text-indent: 1.5rem;
}

/**
 * Pages
 */
article {
    @include mdc-typography-base;
    margin-left: 24px;
    margin-right: 24px;
    
    @include mdc-typography(body1);
    
    h1 {
        @include mdc-typography(headline);
    }
    
    h2 {
        @include mdc-typography(title);
    }
    
    h3 {
        @include mdc-typography(subheading1);
    }
    
    h1, h2, h3 {
        max-width: 40em;
        color: $mdc-theme-primary-dark;
    }

    > p {
        max-width: 60em;
        padding-left: 16px;
    }
    
    a {
        color: #03a9f4;
    }
    
    a:visited {
        color: #007ac1;
    }
    
    a:hover {
        color: #67daff;
    }
    
    $futoin-code-highlight-bg: #f5ffff;
    
    > blockquote {
        border-left: 4px solid $mdc-theme-primary;
        padding-left: 16px;
    }
    
    > p code,
    > ul code,
    > ol code {
        font-family: "Roboto Mono", monospace;
        background-color: $futoin-code-highlight-bg;
        padding: 0 0.3em;
    }
    
    ul p, ol p {
        margin: 0;
    }
    
    > ul > li,
    > ol > li {
        margin-bottom: 4px;
    }

    .gatsby-highlight {
        background-color: $futoin-code-highlight-bg;
        border-radius: 0.3em;
        margin: 0.5em 0 0.5em 16px;
        padding: 16px;
        overflow: auto;
        border-left: 4px solid $mdc-theme-primary-light;
        
        pre[class*="language-"] {
            background-color: transparent;
            margin: 0;
            padding: 0;
            overflow: initial;
            float: left;
            min-width: 100%;
            
            code {
                border-left: 0;
                box-shadow: initial;
                background-color: $futoin-code-highlight-bg;
            }
        }
    }
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    max-width: 840px;
    
    .nav-prev {
        display: flex;
        justify-content: flex-start;
    }
    
    .nav-next {
        justify-content: flex-end;
    }
    
    a {
        color: inherit;
        text-decoration: none;
    }
}
